.card {
  background-color: var(--mantine-color-body);
}
.flex {
  display: flex;
  flex-direction: column;
   @media (min-width: $mantine-breakpoint-sm) {
    flex-direction: row;
    width: 100%;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }
}

.title {
  font-weight: bold;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1.2;
}
.image {
  max-height: 200px;
  @media  (min-width: $mantine-breakpoint-sm) {
    max-width: 355px;
    min-width: 320px;
  }
}

.body {
  padding: var(--mantine-spacing-md);
}



// .card {
//   position: relative;
//   background-color: var(--mantine-color-body);
// }

// .rating {
//   position: absolute;
//   top: var(--mantine-spacing-xs);
//   right: rem(12px);
//   pointer-events: none;
// }

.title {
  display: block;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: rem(5px);
}

.action {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));

  .heart {
  color: var(--mantine-color-red-5);
}
  .bookmark {
  color: var(--mantine-color-yellow-5);
}
  .share {
  color: var(--mantine-color-blue-5);
}

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  }
}

// .footer {
//   margin-top: var(--mantine-spacing-md);
// }