.sidetags {
  position: sticky;
  top: 2%;
}

.button {
  border: 1px solid light-dark(var(--mantine-color-black), var(--mantine-color-main-9));
  color: light-dark(var(--mantine-color-main-1), var(--mantine-color-white));
  border-radius: 9999px;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    color:  light-dark(var(--mantine-color-white), var(--mantine-color-black));
  }
}


.seemorebutton {
  &:hover {
    text-decoration: underline;
  }
}