.userInfo {
    display: none;
      @media (min-width: $mantine-breakpoint-sm) {
    display: block;
      }
}
.rightArrow {
  display: none;
  @media (min-width: $mantine-breakpoint-sm){
    display: block;
    color: var(--mantine-color-main-9);
  }
}